*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem ;
}

main {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
    background-color: skyblue;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    background-color: brown;
    padding: 1.5rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: #d15c25;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #a34b30;
}
